button,
input[type="button"],
.btn {
    display: inline-block;
    cursor: pointer;
    padding: 8px 10px;
    border: none;
    border-radius: 2px;
    background-color: $blue-1;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.4;

    &:hover {
        background: $blue-2;
    }

    &.btn-glass {
        padding: 3px;
        background: transparent;
        color: #ccc;
        margin-left: 5px;

        &:hover {
            color: $blue-2;
            background: transparent;
        }
    }
}

.btn-add {
    font-weight: bold;
}

