doctype html
html
    head
        title Web App
        link(rel='stylesheet', href='/dist/client/style.css')
        base(href="/")
    body
        app
            #loader-wrapper
                #loader
                #loader-text
                    p We make this beatiful loader just to let you know that the app is loading...
                    p So please wait patiently :)

        script(src="/node_modules/es6-shim/es6-shim.js")
        script(src="/node_modules/es6-promise/dist/es6-promise.js")
        script(src="/node_modules/reflect-metadata/Reflect.js")
        script(src="/node_modules/zone.js/dist/zone-microtask.js")
        script(src="/node_modules/zone.js/dist/long-stack-trace-zone.js")
        script(src="/dist/client/bundle.js")